<h1> MYMathApp Online Textbook Fall-2023</h1>
<h2> Iteration 0</h2>
<h5><u>Members</u>:</h5>
<ul>
    <li>Nick Robert</li>
    <li>Spencer Banasik</li>
    <li>Nikhil Nehra</li>
    <li>Arunim Samudra</li>
</ul>
<h5><u>Team Roles</u>:</h5>
<ul>
    <li>Scrum Master: Spencer Banasik</li>
    <li>Product Owner: Arunim Samurda</li>
</ul>
<h5><u>Customer Meeting</u>:</h5>
<ul>
    <li>Initial Meeting: September 15, 2023 over Zoom at @10AM CST</li>
    <li>Recurring Meetings: Wednesdays over Zoom @ 7PM CST</li>
</ul>
<h5><u>Summary</u>:</h5>
<p>Our client needs a website where they can sell math textbooks online.
 Customers who pay for the textbooks are given access to the books for either 5 months or 2 years for the main Calculus 1,
 2, 3 books. Payments are sent to the owner of the online bookshop via PayPal, and several metrics such as users’
 purchase history and activity should be tracked.
</p>
<p>Our team will create a website that satisfies the needs of the customer,
 using a database and several web pages. The database will keep track of customer purchases and activity.
 The web pages will be the interface for the users to make purchases and view their previous purchases. The webpages will also be the interface for the client to manage the customers activity.
</p>
<h5><u>Links</u>:</h5>
<ul>
    <li> Deployed App: <a href="https://my-math-apps-online-textbook-63eb858df6f6.herokuapp.com/">Currently here</a></li>
    <li> Deployed App: <a href="https://dev3.mymathapps.com/">Project we're working on</a></li>
    <li> Deployed App: <a href="https://github.com/MyMathApp-Fall2023/OnlineTextbook">Github Repo</a></li>
    <li> Deployed App: <a href="https://github.com/orgs/MyMathApp-Fall2023/projects/2">Project</a></li>
    <li> Deployed App: <a href="https://mymathapp-fall23.slack.com ">Slack</a></li>

</ul>